<key>CFBundleDisplayName</key>
<string>Glue_App</string>
<key>CFBundleIdentifier</key>
<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleLocalizations</key>
<array>
	<string>en</string>
	<string>ko</string>
</array>
<key>CFBundleName</key>
<string>$(PRODUCT_NAME)</string> 