<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmF1pjm6Bq42-bs2XIqWfFgdY-isBzPf0</string>
	<key>GCM_SENDER_ID</key>
	<string>961143642929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadajo.glue</string>
	<key>PROJECT_ID</key>
	<string>sadajo-glue</string>
	<key>STORAGE_BUCKET</key>
	<string>sadajo-glue.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961143642929:ios:a464de31b4300b255f2e10</string>
</dict>
</plist>